#!/usr/bin/make -f
# -*- makefile -*-

PYTHON2=$(shell pyversions -vr)
PYTHON3=$(shell py3versions -vr)

%:
	dh $@ --with python2,python3

build-python%:
	python$* setup.py build

override_dh_auto_build: $(PYTHON3:%=build-python%)
	dh_auto_build

install-python%:
	python$* setup.py install --root=debian/tmp --install-layout=deb

override_dh_auto_install: $(PYTHON3:%=install-python%)
	dh_auto_install

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info



#override_dh_auto_build:
#    # Build for each Python 3 version
#    set -ex; for python in $(PYTHON3); do \
#        $$python setup.py build; \
#    done
#    dh_auto_build

#override_dh_auto_install:
#    # The same for install; note the --install-layout=deb option
#    set -ex; for python in $(PYTHON3); do \
#        $$python setup.py install --install-layout=deb --root=debian/tmp; \
#    done
#    dh_auto_install
